




/* --- BACKGROUND AND OTHER SPECIFIC SETTINGS --- */

.main {
    
    background:  rgb(141, 141, 214) url(/pictures/bird.jpg) center fixed;
    background-size: cover;
    color:           rgb(39, 16, 2);
}


h2 {
    background-image: radial-gradient(rgba(240, 210, 171, 0.4),  rgba(240, 210, 171, 0.3), rgba(240, 210, 171, 0.2),  rgba(240, 210, 171, 0.1), rgba(240, 210, 171, 0), rgba(240, 210, 171, 0));
    display: inline-block;
    padding: 0.8em;
}

.text {
    background-color:rgba(240, 210, 171, 0.9);
    width: 150%;
}


.text a {
    animation-name:     textentry;
    animation-duration: 3s;
    color: rgba(34, 19, 233, 0.8);
    margin-left: 1em;
}

#map {
    border-radius: 5%;
}

.mini-text {
   font-size: 0.8em;
   padding: 0.5em 0 0;
}

.flex {
display: flex;
}

@keyframes linkentry {
    from {color: rgba(34, 19, 233, 0);}
    to {color: rgba(34, 19, 233, 0.8);}
  }

  .text a:hover {
    color: rgba(34, 19, 233, 0.3);
  }

.wrap {
    display: flex;
    flex-direction: row;
}
.wrap img {
    width: 90%;
    padding: 1em;
}