


/* --- BACKGROUND AND OTHER SPECIFIC SETTINGS --- */

.main {
    background-color: rgb(240, 210, 171);
    color:           rgb(39, 16, 2);
}

h2 {
    background-image: radial-gradient(rgba(240, 210, 171, 0.4),  rgba(240, 210, 171, 0.3), rgba(240, 210, 171, 0.2),  rgba(240, 210, 171, 0.1), rgba(240, 210, 171, 0), rgba(240, 210, 171, 0));
    display: inline-block;
    padding: 0.8em;
}

.picture-viewer {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.referring {
    margin-top: 0;
}

h3 {
    text-align: center;
}

.referring h3 {
    font-size: 1.3em;
}
.picture-wrap {
width: 45%;
box-shadow: 2px 2px 3px grey;
padding: 0.5em 0.5em 2em;
margin: 1em;
text-align: center;
background-color:rgb(240, 210, 171);
}

.picture-wrap:hover {
background-color: rgb(255, 210, 171);
}

.picture-wrap a { 
    font-size: 0.8em;
    color: rgb(39, 16, 2);
    font-weight: 600;
}

.picture-wrap a:hover {
    color: rgba(216, 114, 25, 0.9);
}

.video-box {
width: 45%;
height: 20em;
box-shadow: 2px 2px 3px grey;
padding: 0.5em 0.5em 2em;
margin: 1em;
text-align: center;
background-color:rgb(240, 210, 171);
}

.video-box p {
    font-size: 0.7em;
    margin-top: -1.5em;
}

.single-video {
width: 90%;
}

#system-video {
    height: 10em;
    width: 8em;
}

#role-video {
    height: 11em;
    width: 17em;
}