


/* --- BACKGROUND AND OTHER SPECIFIC SETTINGS --- */



.main .text {
    margin-top: 10em;
    text-align: center;
    color: #410606;;
}

h3 {
    color: #410606;;
}

footer h3 {
    margin: 0;
    color: #410606;;
}